html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.colores {
    --color-theme: #74dfcf;
    --color-back-active: #04957d;
    --color-gradient: linear-gradient(to right, var(--color-theme), var(--color-back-active));
}